@model IEnumerable<CustomShop.Web.Models.EntityFramework.OrdersByPaymentTypeViewModel>
@{
    CustomShop.Web.Models.EntityFramework.OrderViewModel OrderViewModel = null;
    ViewData["Title"] = "EntityFramework Data Page";
}

<div>
    <h1 class="display-4">EntityFramework Data</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(x => OrderViewModel.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(x => OrderViewModel.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(x => OrderViewModel.NettoCost)
            </th>
            <th>
                @Html.DisplayNameFor(x => OrderViewModel.BruttoCost)
            </th>
            <th>
                @Html.DisplayNameFor(x => OrderViewModel.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var groups in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => groups.PaymentType)
                </td>
            </tr>

            @foreach (var order in groups.Orders)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => string.Empty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.ProductCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.NettoCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.BruttoCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.Quantity)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>