@model IEnumerable<CustomShop.Web.Models.EntityFramework.ShopOrdersByPaymentTypeViewModel>
@{
    CustomShop.Web.Models.EntityFramework.ShopOrderViewModel ShopOrderViewModel = null;
    ViewData["Title"] = "EntityFramework Data Page";
}

<div>
    <h1 class="display-4">EntityFramework Data</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(x => ShopOrderViewModel.ShopOrderId)
            </th>
            <th>
                @Html.DisplayNameFor(x => ShopOrderViewModel.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(x => ShopOrderViewModel.NettoCost)
            </th>
            <th>
                @Html.DisplayNameFor(x => ShopOrderViewModel.BruttoCost)
            </th>
            <th>
                @Html.DisplayNameFor(x => ShopOrderViewModel.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(x => ShopOrderViewModel.Street)
            </th>
            <th>
                @Html.DisplayNameFor(x => ShopOrderViewModel.City)
            </th>
            <th>
                @Html.DisplayNameFor(x => ShopOrderViewModel.PostalCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var groups in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => groups.PaymentType)
                </td>
                @foreach (var shopOrder in groups.ShopOrders)
                {
                    <td>
                        @Html.DisplayFor(modelItem => shopOrder.ShopOrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => shopOrder.ProductCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => shopOrder.NettoCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => shopOrder.BruttoCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => shopOrder.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => shopOrder.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => shopOrder.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => shopOrder.PostalCode)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>